mixin icon(icon, name)
  svg(class= icon): use(xlink:href="img/sprite.svg#" + name)

mixin auc-item(modif)
  .auc__item(class= modif)
    input.auc__lot(type="text")
    input.auc__total-sum(type="text" pattern="[0-9]{10}" oninput="this.value=this.value.replace(/[^0-9]/g,'');")
    input.auc__current-sum(type="text" pattern="[0-9]{10}" oninput="this.value=this.value.replace(/[^0-9]/g,'');")
    button.auc__add-sum(add-sum): +icon("auc__icon", "plus")
