mixin icon(icon, name)
  svg(class= icon): use(xlink:href="img/sprite.svg#" + name)

mixin auc-item(modif)
  .auc__item(class= modif)
    input.auc__lot(type="text" title="Название лота")
    input.auc__total-sum(type="text" oninput="this.value=this.value.replace(/[^0-9]^./g,'');" title="Всего внесено")
    input.auc__current-sum(type="text" oninput="this.value=this.value.replace(/[^0-9]^./g,'');" title="Ввод суммы")
    button.auc__add-sum(add-sum title="Внести сумму"): +icon("auc__icon", "plus")
